/* Footer.css */
.footer-container {
  text-align: center;
  margin-top: 20px;
  /* Adjust spacing as needed */
}

.footer-line {
  border: 1px solid #333;
  /* Dark gray horizontal line */
  width: 50%;
  margin: 0 auto;
}

.footer-text {
  color: #333;
  /* Dark gray text color */
  font-weight: bold;
  margin-top: 10px;
  /* Adjust spacing as needed */
}