/* layout styles*/
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #f0f0f0;
  /* Adjust as needed */
  padding: 10px;
  text-align: center;
}